.inputs{
    display: flex;
    flex-direction: column;
    
}

.main-container{
    display: flex;
    width: 50vw;
    height: 50vh;
    background-color: rgb(46, 46, 43);
    justify-content: center;
    align-items: center;
    
}